@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: 100%;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #191919;
  /* White for light mode */
}

body::-webkit-scrollbar-thumb {
  background-color: #64d6f4;
  border-radius: 20px;
  border: 3px solid #64d6f4;
}

a {
  text-decoration: none;
}

a:hover {
  color: currentColor;
}

header {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #ffffff;
}

header .container-fluid {
  width: 100%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navb-logo {
  font-weight: 800;
  font-size: 32px;
}

header .navb-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: 3px;
  width: 100%;
}

header .mobile-toggle i {
  font-size: 20px;
}

header .item {
  margin: 1% 3%;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  border-bottom: 0px solid #64d6f4;
  border-top: 0px solid #64d6f4;
  cursor: pointer;
}

header .item:hover {
  border-bottom: 3px solid #64d6f4;
  border-top: 3px solid #64d6f4;
}

header .item-button a {
  background-color: #102447;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

header .item-button a:hover {
  background-color: #64d6f4;
}

/* Modal */
.modal-dialog {
  margin: 0;
  width: 400px;
}

.modal-content {
  height: 80vh;
  background-color: #102447;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 16px;
  border-bottom: 2px solid #fefefe;
}

.modal-header p {
  font-weight: 800;
  font-size: 32px;
  color: white;
}

.modal-header .btn-close {
  background: transparent;
  opacity: 1;
}

.modal-header i {
  color: #fefefe;
  font-size: 30px;
}

.modal-body {
  width: 80%;
  margin: 0 auto;
  padding: 25px 0;
  flex: unset;
}

.modal-body .modal-line {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0;
  margin-bottom: 25px;
  cursor: pointer;
  color: #274d8a;
  border-bottom: 1px solid #274d8a;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.modal-body .modal-line:hover {
  color: #fefefe;
  border-bottom: 1px solid #fefefe;
}

.modal-line a {
  font-weight: 500;
  letter-spacing: 2.5px;
  color: #fefefe;
}

.modal-line i {
  color: currentColor;
  font-size: 30px;
  width: 35px;
  margin-right: 15px;
  color: #fefefe;
  padding: 0 0 3px 3px;
}

.navb-button {
  width: 100%;
  height: 47px;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #274d8a;
  letter-spacing: 2px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navb-button:hover {
  background-color: #274d8a;
  color: #fefefe;
}

.mobile-modal-footer {
  width: 100%;
  margin: 0 auto;
  padding: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mobile-modal-footer a {
  color: #64d6f4;
}

.mobile-modal-footer a i {
  font-size: 24px;
}

.mobile-modal-footer i:hover {
  color: #fefefe;
}

.section-1 {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-2 {
  position: relative;
  width: 100vw;
  height: 60vh;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  background-color: #333;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.character-bubble {
  display: flex;
  position: absolute;
  border: none;
  top: -100px;
  background-color: #333;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 35%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.character-bubble img {
  width: 80%;
  background-color: transparent;
  height: 80%;
  object-fit: cover;
  padding: 10px;
  transition: 1s;
}

.character-bubble img:hover {
  transform: scale(1.03);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

.dark-mode .section-2,
.dark-mode .character-bubble img,
.dark-mode .character-bubble,
.tech-item {
  background-color: white;
  background: white;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.section-1 h1,
h2 {
  color: #000000;
  /* Change to black for light mode */
  width: 90%;
  text-align: center;
}

@media (max-width: 768px) {
  .section-1 p {
    font-size: 50px;
    text-align: start;
    width: 70%;
    margin: auto;
  }

  .character-bubble {
    height: 100px;
    width: 100px;
    margin-top: 20px;
  }

  .section-2 {
    height: 75vh;
    display: flex;
    margin: 0 auto;
  }

  .tech-stack {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .section-2 {
    height: 130vh;
    padding-bottom: 20px;
  }

  .tech-stack-container {
    margin-left: 0%;
  }
}

@media (max-width: 450px) {
  .modal-dialog {
    width: 100%;
  }

  .tech-stack-container {
    margin-left: 2%;
  }
}

/* New styles for mobile menu */
.mobile-menu {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.mobile-menu-item {
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.dark-mode .mobile-menu-item a {
  color: white;
}

.mobile-menu-item a {
  color: #102447;
  font-weight: 600;
  letter-spacing: 1px;
}

.mobile-menu-item:last-child {
  border-bottom: none;
}

.dark-mode .mobile-menu {
  background-color: #1a1a1a;
}

@media (min-width: 1025px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-toggle {
  display: none;
  /* Hide by default */
}

.mobile-toggle button {
  background: none;
  border: none;
  font-size: 24px;
  color: #102447;
  cursor: pointer;
}

@media (max-width: 1024px) {
  header .navb-items {
    display: none;
  }

  .mobile-toggle {
    display: block;
    /* Show on mobile */
  }
}

/* Estilos para o modo escuro */
body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark-mode body::-webkit-scrollbar-track {
  background: #000000;
  /* Black for dark mode */
}

.dark-mode .navb-logo,
.dark-mode .item a,
.dark-mode .mobile-toggle button {
  color: #ffffff;
  transition: color 0.3s ease;
}

.dark-mode .item-button a {
  background-color: #64d6f4;
  color: #1a1a1a;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .item-button a:hover {
  background-color: #ffffff;
}

/* Estilos para o botão de alternância do modo escuro */
.dark-mode-toggle {
  margin-top: 6.5px;
  margin-left: 20px;
}

.dark-mode-toggle button {
  background: none;
  border: none;
  font-size: 24px;
  color: #102447;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.5s ease;
}

.dark-mode .dark-mode-toggle button {
  color: #64d6f4;
}

.dark-mode-toggle button:hover {
  color: #64d6f4;
}

.dark-mode .dark-mode-toggle button:hover {
  color: #ffffff;
}

/* Animação de rotação */
.dark-mode-toggle button.rotate {
  transform: rotate(360deg);
}

/* Ajuste para layout responsivo */
@media (max-width: 1024px) {
  .dark-mode-toggle {
    margin-left: 10px;
  }
  .mobile-toggle {
    display: none;
  }
  header .navb-items {
    display: none;
  }

  .mobile-toggle {
    display: block;
  }

  .mobile-menu {
    display: block;
  }

  .character-bubble {
    height: 100px;
    width: 100px;
    margin-top: 5%;
  }

  .character-bubble img {
    height: 70px;
    width: 70px;
  }
}

.container-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 40vh;
}

.container-profile-img {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #191919;
  /* border: 0px solid #64d6f4;
    box-shadow: 0px 0px 30px 1px #64d6f4; */
}

.dark-mode .container-profile-img {
  background-color: #64d6f4;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 768px) {
  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(10px);
      /* Aumentado para 10px */
    }

    100% {
      transform: translateY(0px);
    }
  }

  .container-profile {
    margin-bottom: 100px;
    transform: scale(1.1);
  }
}

.container-profile img {
  transform: scale(1);
  transition: all 1s ease;
  filter: grayscale(1);
  animation: float 3s ease-in-out infinite;
}

.container-profile-img anim {
  box-shadow: 0px 0px 15px 0px #64d6f4;
}

.container-profile img:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.container-profile-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-profile {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  /* Black for light mode */
}

.title-profile span {
  color: #64d6f4;
}

.text-profile {
  font-size: 20px;
  color: #000000;
  /* Black for light mode */
}

/* Updated styles for dark mode text */
.dark-mode .section-1 h1,
.dark-mode .section-1 h2,
.dark-mode .title-profile,
.dark-mode .text-profile {
  color: #ffffff;
  /* White for dark mode */
  transition: color 0.3s ease;
}

/* New styles for header background in light mode */
header {
  background-color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Adjust header background in dark mode if needed */
.dark-mode header {
  background-color: #1a1a1a;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease-out;
}

.dark-mode .loading-screen {
  background-color: #1a1a1a;
}

.loading-screen.fade-out {
  opacity: 0;
}

.loading-screen h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #102447;
}

.dark-mode .loading-screen h2 {
  color: #64d6f4;
}

.progress-bar {
  width: 200px;
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #64d6f4;
  transition: width 0.3s ease-out;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s, background-color 0.3s;
  z-index: 1000;
}

.scroll-to-top.show {
  opacity: 1;
}

.scroll-to-top:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Estilos específicos para o modo claro */
body:not(.dark-mode) .scroll-to-top {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

body:not(.dark-mode) .scroll-to-top:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Estilos específicos para o modo escuro */
body.dark-mode .scroll-to-top {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

body.dark-mode .scroll-to-top:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 768px) {
  .scroll-to-top {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: inherit;
  font-size: 24px;
  margin-right: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.social-icons a:hover {
  color: #007bff;
  transform: rotate(0deg);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.social-icons a:hover {
  animation: wiggle 0.3s ease;
}

.no-scroll {
  overflow: hidden;
}

.container-about-card {
  width: 60%;
  font-family: "Urbanist", sans-serif;
  transform: translateY(20px);
  text-align: justify;
  font-size: 20px;
  transition: opacity 3s ease, transform 5s ease;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-text-container {
  width: 55%;
}

.about-text {
  font-size: 1.2rem;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dark-mode .about-text {
  color: black;
}

.special_span {
  color: #64d6f4;
  font-weight: 900;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tech-row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.tech-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.3s ease;
  overflow: hidden;
}

.tech-item img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

.tech-item:hover {
  box-shadow: 0 0 10px rgba(100, 214, 244, 0.5);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .tech-stack-container,
  .about-text-container {
    width: 100%;
  }

  .tech-stack-container {
    margin-bottom: 2rem;
  }
}

/* Dark mode adjustments */
.dark-mode .container-about-card h2,
h3 {
  color: #ffffff;
}

.dark-mode .tech-item {
  background-color: rgba(0, 0, 0, 0.2);
}

.dark-mode .tech-item:hover {
  box-shadow: 0 0 10px rgba(24, 220, 255, 0.5);
}

/* Mouse glow effect */
.mouse-glow {
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(100, 214, 244, 0.15) 0%,
    rgba(100, 214, 244, 0) 70%
  );
  transform: translate(-50%, -50%);
  transition: width 0.2s, height 0.2s;
  z-index: 9998;
}

.mouse-glow.active {
  width: 200px;
  height: 200px;
}

.blog-slider {
  width: 95%;
  flex-shrink: 0;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}

.blog-slider__item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}

.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #64d6f4 0%, #14abd1 74%);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}

.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #64d6f4 0%, #14abd1 74%);
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}

.blog-slider__content {
  padding-right: 25px;
}

@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}

.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}

.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #64d6f4 0%, #14abd1 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(0, 251, 255, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}

.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #64d6f4;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(56, 252, 236, 0.3);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

@media (max-width: 768px) {
  .container-profile {
    flex-direction: column;
    height: 40vh;
  }

  .container-profile-img {
    width: 80%;
    height: 100%;
    margin-bottom: 0;
  }

  .container-profile-text {
    width: 100%;
  }

  .text-profile {
    display: none;
    font-size: 5px;
  }

  .title-profile {
    font-size: 5px;
    display: none;
  }

  .social-icons {
    margin: 0 auto;
    margin-bottom: 5%;
  }
}

.container-projects-card {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
}

.dark-mode .container-projects-card {
  background: transparent;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #333;
  justify-content: center;
  margin-left: 5%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-info {
  padding: 1.5rem;
}

.project-info h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.project-info p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.project-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-demo {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #355ef5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-demo:hover {
  background-color: #64d6f4;
  color: #333;
  transform: translateY(-2px);
  box-shadow: 0px 0px 15px 0px #64d6f4;
}

.btn-github {
  color: #333;
}

.dark-mode .btn-github {
  margin-top: 2px;
  color: white;
}

.btn-github:hover {
  color: white;
  background-color: #1a1a1a;
  transition: 1s;
}

.dark-mode .btn-github:hover {
  transform: translateY(-2px);
  background-color: #1a1a1a;
}

/* Dark mode styles */

.dark-mode .section-title {
  color: #fff;
}

.dark-mode .project-card {
  background-color: #333;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dark-mode .project-info h3 {
  color: #fff;
}

.dark-mode .project-info p {
  color: #ccc;
}

.modal-open {
  overflow: hidden;
}

.contact-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.contact-modal-overlay.closing {
  animation: fadeOut 0.3s ease-out;
}

.contact-modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* Adicionado para prevenir overflow horizontal */
  position: relative;
  animation: slideIn 0.3s ease-out;
  transition: opacity 0.3s ease-in-out;
  overflow-x: hidden;
}

.contact-modal.closing {
  animation: slideOut 0.3s ease-out;
  overflow-x: hidden;
}

.dark-mode .contact-modal {
  background-color: #333;
  color: #fff;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  overflow-x: hidden;
  transition: transform 0.3s ease, color 0.3s ease;
}

.dark-mode .close-modal {
  color: #fff;
  overflow-x: hidden;
}

.close-modal:hover {
  transform: scale(1.1) rotate(360deg);
  color: #64d6f4;
}

@keyframes rotate360 {
  from {
    transform: scale(1.1) rotate(0deg);
  }

  to {
    transform: scale(1.1) rotate(360deg);
  }
}

.close-modal:hover {
  animation: rotate360 4s linear infinite;
  overflow-x: hidden;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
}

.form-group input {
  padding: 2%;
}

.dark-mode .form-group input,
.dark-mode .form-group textarea {
  background-color: #444;
  border: 2px solid white;
  color: #fff;
  border-color: #555;
}

.form-group textarea {
  min-height: 100px;
  resize: vertical;
}

.btn-submit {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.language-buttons {
  display: inline-flex;
  margin-left: 10px;
}

.language-buttons button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.language-buttons button.active {
  opacity: 1;
}

.language-buttons button:hover {
  opacity: 0.8;
}

.dark-mode .tech-item {
  background-color: white;
}

.projects-slider {
  padding: 20px 0;
}

.swiper-slide {
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: #64d6f4;
}

.swiper-pagination-bullet-active {
  background-color: #64d6f4;
}

.dark-mode .swiper-button-next,
.dark-mode .swiper-button-prev {
  color: #ffffff;
}

.dark-mode .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

/* Adjust project card styles for the slider */
.project-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.project-buttons {
  margin-top: auto;
}

.tech-description-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  max-width: 250px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tech-description-card.active {
  opacity: 1;
  visibility: visible;
}

.tech-description-card h3 {
  margin-top: 0;
  color: #333;
  font-size: 18px;
}

.tech-description-card p {
  color: #666;
  font-size: 14px;
  margin-bottom: 0;
}

.dark-mode .tech-description-card {
  background-color: #333;
}

.dark-mode .tech-description-card h3 {
  color: #fff;
}

.dark-mode .tech-description-card p {
  color: #ccc;
}

/* Adjust the tech-item styles to indicate interactivity */
.tech-item {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.tech-item:hover {
  transform: scale(1.1);
}

.tech-description-card {
  opacity: 1;
  visibility: visible;
}

.tech-item:hover + .tech-description-card,
.tech-description-card:hover {
  opacity: 1;
  visibility: visible;
}

.projects-slider {
  padding: 20px 0;
}

.swiper-slide {
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: #64d6f4;
}

.swiper-pagination-bullet-active {
  background-color: #64d6f4;
}

.dark-mode .swiper-button-next,
.dark-mode .swiper-button-prev {
  color: #ffffff;
}

.dark-mode .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

/* Adjust project card styles for the slider */
.project-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.project-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.project-buttons {
  margin-top: auto;
}

.project-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.dark-mode .project-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.15);
}

.download-section {
  padding: 40px 0;
  text-align: center;
}

.download-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.download-button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.download-button:hover {
  background-color: #64d6f4;
  transform: translateY(-2px);
  box-shadow: 0px 0px 15px 0px #64d6f4;
}

.dark-mode .download-button {
  background-color: transparent;
  border: 2px solid #64d6f4;
}

.dark-mode .download-button:hover {
  background-color: transparent;
  box-shadow: 0px 0px 15px 0px #64d6f4;
}

.site-footer {
  position: relative;
  background-color: #333;
  color: black;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dark-mode .site-footer {
  position: relative;
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-content {
  position: relative;
  z-index: 10;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 2s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Estilos principais do slider */
.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 8%;
}

.skills-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 80%;
  overflow: hidden;
}

.skills-carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 30%;
  justify-content: flex-start; /* Alinhe ao início */
}

.skill-card {
  min-width: 100%;
  padding: 20px;
  background: #ffffff;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0.3;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.dark-mode .skill-card {
  background: #ffffff;
}

.dark-mode h3 {
  color: #333;
}

.dark-mode p {
  color: #666;
}

.skill-card.active {
  opacity: 1;
  transform: scale(1);
}

h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: white;
}

.duration {
  font-size: 0.9rem;
  color: #888;
  margin-top: 15px;
  font-style: italic;
}

.carousel-button {
  background: none;
  color: #ffffff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-button:hover {
  color: #14abd1;
}

.carousel-button:disabled {
  color: #2e2e2e;
  cursor: not-allowed;
}

.carousel-button-prev {
  left: 10px;
  z-index: 1;
}

.carousel-button-next {
  right: 10px;
  z-index: 1;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .skills-slider {
    max-width: 100%;
  }

  .skills-carousel {
    width: 100%;
  }

  .skill-card {
    padding: 10px;
  }

  h3 {
    font-size: 1.2rem; /* Reduz o tamanho do título */
  }

  p {
    font-size: 0.9rem; /* Reduz o tamanho da descrição */
  }

  .duration {
    font-size: 0.8rem; /* Reduz o tamanho da duração */
  }

  .carousel-button {
    font-size: 1.5rem; /* Reduz o tamanho das setas */
  }
}

@media (max-width: 480px) {
  .skill-card {
    padding: 5px;
    border-radius: 5px; /* Ajusta o arredondamento para telas menores */
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .duration {
    font-size: 0.7rem;
  }

  .carousel-button {
    font-size: 1.2rem;
  }
}

.tech-stack-container {
  margin-top: 1%;
}

/* Ajuste para layout responsivo */
@media (min-width: 774px) and (max-width: 1335px) {
  .character-bubble {
    height: 100px;
    width: 100px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-2 {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech-stack-container,
  .about-text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tech-stack-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .character-bubble img {
    height: 100px;
    width: 100px;
    object-fit: cover; /* Isso vai garantir que a imagem fique centralizada na bolha */
  }
}
